@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: hsl(220, 22%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: hsl(218, 20%, 24%);
    width: 544px;
    height: 332px;
    border-radius: 10px;
    padding: 58px 48px 0;
    text-align: center;
    color: hsl(195, 56%, 90%);
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.title{
    margin-bottom: 35px;
    font-size: 13px;
    color: hsl(150, 100%, 66%);
}

.text{
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.pause{
    padding: 0px 48px;
    margin-top: 190px;
    margin-bottom: 73px;
   position: fixed;
}

.mobile-divider{
    display: none;
}

.dice{
    position: absolute;
    width: 67px;
    height: 67px;
    z-index: 1;
    margin-top: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    outline: none;
    border: none;
}

.dice:hover{
    box-shadow: 5px 5px 50px 2px hsl(150, 100%, 66%);
}

@media only screen and (max-width: 600px) {
    .container{
        width: 343px;
        height: 319px;
        padding: 42px 24px 0;
    }
    .text{
        font-size: 20px;
        margin-bottom: 24px;
    }
    .desktop-divider{
        display: none;
    }
    .mobile-divider{
        display: block;
    }
    .pause{
        margin-bottom: 69px;
    }
}



